* {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.App {
  width: 990px;
  background-color: blanchedalmond;
  display: flex;
  padding: 10px;
}

#topRow {
  margin-bottom: 10px;
}

#addBox {
  padding: 5px 10px 5px 10px;
  margin-left: 5px;
  background-color: lightblue;
  font-weight: bold;
  box-shadow: 0px 5px 10px 0px black;
}

input {
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

.boxes {
  /* margin: 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-flow: wrap;
}

.boxMaker {
  width: 100px;
  height: 100px;
}